// Funciona de guia
$guia: 0.1rem solid red;

$fuente: 'Inter', sans-serif;

$regular: 400;
$bold: 700;
$extrabold: 800;

/** Colores **/
$verde: #00272b;
$amarillo: #e0ff4f;
$gris: #e7e7e7;
$negro: #000;
$blanco: #fff;
$transparente: rgba(0, 0, 0, 0.0);
// Boton negro -> gris
$grisHover: #242424;

/** Colores de anterior pagina **/
$negro: #000;
$blanco: #fff;
$verdeClaro: #004047;
$grisback: #e0e0e0;
$grisOscuro: #b3b3b3;
// $gris: #333333;
$rojo: #f10a0a;
$rojoOscuro: #db0707;
$verdeNumero: #278a01;
$transparente: rgba(0, 0, 0, 0.0);
$oscuroTransparente: rgba(0, 0, 0, 0.4);

// Formularios
$grisInput: #c1c1c1;
$grisOutline: #757575;

// Alertas
$verdeOK: #31af01;

// Funciona de guia
$guia: 0.1rem solid red;

// Boton negro -> gris
$grisHover: #242424;

// Iconos del footer
$iconFooter: #d5f732;
$iconFooterHover: #cae740;

$lineaFooter: #bad825;