@use 'base/variables' as v;

footer {
    margin-top: 5rem;
    padding: 5rem 0;
    background-color: v.$verde;

    p {
        color: v.$blanco;
        text-align: center;
        font-size: 1.8rem;
        font-weight: v.$bold;
        margin: 2rem 0 0 0;
    }
}

.conjunto-iconos-footer {
    border-bottom: .1rem solid v.$blanco;
    width: 90rem;
    padding-bottom: 2rem;
}