@use 'base/variables' as v;

table {
    margin-top: 3rem;
    margin-bottom: 5rem;
    width: 100%;

    th {
        font-size: 1.8rem;
        color: v.$blanco;
    }
}

.t-center {
    text-align: center;
}

.t-lg {
    width: 80%;
}

table, td, th {
    border-collapse: collapse;
}
  
td {
    border-right: 0.1rem solid v.$grisOscuro;
}
  
th:last-of-type, td:last-of-type {
    border-right: none;
}
  
table thead {
    text-align: left;
}
  
th {
    background-color: v.$verde;
    color: v.$blanco;
    font-size: 1.8rem;
    padding: 2rem;
}
  
table tbody tr td {
    padding: 2rem;
}
  
/* Bg-color gris cada 2 filas */
table tbody tr:nth-of-type(even) {
    background-color: v.$grisback;
}
  
/* Borde al ultimo elemento de la tabla */
table tbody tr:last-of-type {
    border-bottom: 0.3rem solid v.$verde;
}

// Cuando no hay registros
.no-registros {
    text-align: center;
    font-weight: v.$bold;
    padding: 2rem 0;
}

// Formulario para eliminar
table {
    form {
        display: inline;
    }
}

// Boton de eliminar
.btn-eliminar {
    background-color: v.$transparente;
    border: none;
}